@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo1;
  src: url("./assets/file.woff2");
}
@font-face {
  font-family: anzo2;
  src: url("./assets/file1.woff2");
}
@font-face {
  font-family: anzo3;
  src: url("./assets/file2.woff2");
}

@font-face {
  font-family: anzo3;
  src: url("./assets/file3.woff2");
}

@font-face {
  font-family: anzo4;
  src: url("./assets/madefor-text.var.original.woff2");
}

body{
  overflow-x: hidden;
}

#page-in{
  position: relative;
  perspective: 1000px;
}
#rotateText{
  position: relative;
  perspective: 1000px;
}
#rotateText2{
  position: relative;
  perspective: 1000px;
}

#tiltDiv{
  width: fit-content;
  transform: rotateY(10deg);
}

h5{
  color: rgb(73, 73, 73);
}

